@import "tailwindcss"; 
@keyframes float-up {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-20vh) scale(1.2);
  }
  100% {
    transform: translateY(-100vh) scale(1);
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 2s ease-in forwards;
}